<h1>hi!!!</h1>

<p>New year resolutions:</p>

<% fillings = ["stay fit and hot!", "stay happy", "have a good time", "lead a fullfilling life"] %>

<!-- I'm a comment -->

<p> I have <%= fillings.count %> resolutions</p>

<ul>
  <% for filling in fillings %>
    <li><%= filling %></li>
  <% end %>
</ul>